<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/book_store</property>
        <property name="connection.username">username</property>
        <property name="connection.password">password</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Names the annotated entity class -->
        <mapping class="ru.goth.entity.Author"/>
        <mapping class="ru.goth.entity.Book"/>
        <mapping class="ru.goth.entity.Buy"/>
        <mapping class="ru.goth.entity.BuyBook"/>
    </session-factory>
</hibernate-configuration>